@import '~antd/dist/antd.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom_scrollbar::-webkit-scrollbar{
    display:none;
}
.custom_scrollbar::-webkit-scrollbar:hover {
	width: 10px;
	display: block;
    cursor:pointer;
}
.custom_scrollbar::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
}
.custom_scrollbar::-webkit-scrollbar-thumb:vertical {
	background-color: rgb(142, 142, 142);
	-webkit-border-radius: 5px;
    -webkit-width:4;
    height: 5px;
}
.custom_scrollbar::-webkit-scrollbar-track:hover{
	background-color: rgba(255, 255, 255,0.5);

}